.todo{
   background-color: rgb(212, 220, 235);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.titulo{
    text-decoration: overline;
    text-align: center;
    color: rgb(247, 146, 15);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
.nave{

    width: 1310px;
    margin: 10px;
    background-color: rgba(37, 30, 143, 0.952);
}
.nave ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;

}
.menu >li > a{
    display: block;
    padding: 15px 20px;
    color: rgb(254, 255, 253);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none; 
}
.menu li a:hover {
color: rgb(242, 245, 58);
transition: all .3s;
}
.submenu{
    position: absolute;
    background: rgb(255, 252, 72);
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: rgb(64, 49, 153);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.menu li:hover .submenu{
visibility: visible;
opacity: 1;
}

.a{
    padding: 12px;
    margin-left: 100px;
  }
.b{
    margin-left: 220px;
    padding: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  .tabla{
    
        border: 1px solid black;
    
  }
  .e{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       border: 1px solid black;
    
  }
.d{

    margin-left: 19cm;
    text-align: center;
    color: rgb(255, 145, 0);
    
}
.q{
    margin-left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* para conseptos 1 */

.n{
    margin-left: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.x{
    color: rgb(255, 145, 0);
    text-decoration: overline;
}
.mar{
    margin-left: 300px;
}
.sig{
    background-color: rgba(37, 30, 143, 0.952);
    color: whitesmoke;
}
 
/*para conseptos 2 */

.cc{
    margin-left: 50px;
    margin-right: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pdf{
    width: 60%;
    height: 140vh;
    margin-left: 120px;
}
.cd{
    color: rgb(255, 145, 0);
}

embed{
    width: 60%;
    height: 140vh;
    margin-left: 120px; 
}

/*recursos1*/
.vv{
    color: rgb(255, 145, 0);
    margin-left: 12cm;
    text-decoration: overline;
}
.video{
    width: 60%;
    height: 80vh;
    margin-left: 120px;
}
.vvideo{
    width: 60%;
    height: 80vh;
    margin-left: 120px;
    
}
.ssse{
    width: 80%;
    height: 65vh;
    margin-left: 50px;
}
.zx{
    margin-left: 350px;
}
.f{
    margin-left: 500px;
}
.ll{
    margin-left: 200px;
    margin-right: 200px;
}
.fd{
    margin-left: 500px;
}